{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ book['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="book-editor">
        <form method="post">
            {{ form.csrf_token }}
            {{ form.title.label }}
            {% set f = form.title.process_data(book['title']) %}
            {{ form.title() }}
            {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {{ form.genre.label }}
            {{ form.genre }}
            {% if form.genre.errors %}
            <ul class="errors">
                {% for error in form.genre.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {{ form.content.label }}
            {% set f = form.content.process_data(book['content']) %}
            {{ form.content}}
            {% if form.content.errors %}
            <ul class="errors">
                {% for error in form.content.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <input type="submit" value="SAVE">

        </form>
        <hr>
        <form action="{{ url_for('book.delete', book_id=book['id']) }}" method="post">
            {{ form.csrf_token }}
            <input class="danger" type="submit" value="DELETE" onclick="return confirm('Are you sure?');">
        </form>
    </div>
{% endblock %}