{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;font-size: 60px;">{% block title %}Books{% endblock %}</h1>
    {% if g.user %}
        <a style="height: 40px;font-family: Roboto Slab;" class="btn btn-info" href="{{ url_for('book.create') }}">
            Create Book  <img src="{{ url_for('static', filename='pen-tool.svg') }}">
        </a>
        <a class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-gear-fill"></i>
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckTheme">
                    <label class="form-check-label" for="flexSwitchCheckTheme">Theme</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckLang">
                    <label class="form-check-label" for="flexSwitchCheckLang">Language</label>
                </div>
            </div>
        </div>
    {% endif %}
    <hr>
{% endblock %}

{% block content %}
    <br>
    <div class="books">
        {% if books|length > 0 %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for book in books %}
                    <div class="col">
                        <div class="card text-bg-secondary mb-3 mx-auto h-100" style="width: 19rem;">
                                <div class="card-body">
                                    <div class="card-header" style="font-family: Roboto Slab;font-size: 30px;">
                                       {{ loop.index + pagination.skip }}. {{ book['title'] }}
                                    </div>
                                    <div class="card-content">
                                           {% for i in range(1, 6) %}
                                                {% if i > book['rating'] %} ★
                                                {% else %}<font color="orange">★</font>
                                                {% endif %}
                                           {% endfor %}
                                        rating: {{ '%0.2f' % book['rating']|float }} / 5<br>
                                        genre: {{ book['genre'] }}<br>
                                        author: {{ book['username'] }}
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    {{ book['created'].strftime('%Y-%m-%d') }}
                                </div>
                                <div class="text-center">
                                    <a style="font-family: Roboto Slab;width: 15rem;" class="btn btn-primary" href="{{ url_for('book.read', book_id=book['id']) }}">
                                        Read <img src="{{ url_for('static', filename='book-open.svg') }}">
                                    </a>
                                    <br><br>
                                    {% if g.user['id'] == book['author_id'] %}
                                        <a style="font-family: Roboto Slab;width: 15rem;" class="btn btn-warning" href="{{ url_for('book.update', book_id=book['id']) }}">
                                            Edit <img src="{{ url_for('static', filename='edit.svg') }}">
                                        </a>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        {% else %}
            <h5 id="nothing">Nothing here yet</h5>
        {% endif %}
        </div>
    <br>
    {{ pagination.links }}
{% endblock %}