{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Books{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('book.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="books">
        {% if books|length > 0 %}
            {% for book in books %}
                <article class="post">
                    <header>
                        <div>
                            <h1>{{ book['title'] }}</h1>
                            <div class="about">genre: {{ book['genre'] }}<br> by {{ book['username'] }} on {{ book['created'].strftime('%Y-%m-%d') }}</div>
                        </div>
                        <a class="action" href="{{ url_for('book.read', book_id=book['id']) }}">Read</a>
                        {% if g.user['id'] == book['author_id'] %}
                            <a class="action" href="{{ url_for('book.update', book_id=book['id']) }}">Edit</a>
                        {% endif %}
                    </header>
                    <p class="body">{{ book['content'][:50] }}...</p>
                </article>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% else %}
            <h5 id="nothing">Nothing here yet</h5>
        {% endif %}
    </div>
{% endblock %}