{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Read book{% endblock %}</h1>
    <form method="post">
        {{ form.csrf_token }}
        <input type="submit" value="RATE"> {{ form.rate() }}
        {% if form.rate.errors %}
            <ul class="errors">
                {% for error in form.rate.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
{% endblock %}

{% block content %}
    <div id="book">
        <div class="book-element">
            <h2>{{ book['title'] }}</h2>
        </div>
        <div class="book-element">
            <textarea readonly="readonly" id="text-area">{{ book['content'] }}</textarea>
        </div>
    </div>
{% endblock %}