{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Users{% endblock %}</h1>
    <img style="height: 150px;" src="https://img.freepik.com/premium-vector/pen-signature-flat-icon-vector_149152-737.jpg?w=2000"/>
{% endblock %}

{% block content %}
    <table class="table table-striped table-sm">
        <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Average rating</th>
            </tr>
        </thead>
        <tbody>
            {% for user, rating in users.items() %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user }}</td>
                    <td>{{ '%0.2f' % rating|float }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}