{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="account-box row">
        <div class="account-box-content col">
            <form method="post" class="auth">
                {{ form.csrf_token }}

                <p>{{ form.username.label() }}</p>
                <p>{{ form.username() }}</p>
                {% if form.username.errors %}
                    <ul class="errors">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <p>{{ form.password.label() }}</p>
                <p>{{ form.password() }}</p>
                {% if form.password.errors %}
                    <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <input class="btn btn-primary" type="submit" value="Log In">
            </form>
        </div>
        <div class="picture_account col">
            <img style="height: 392px;" src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000" class="imgFormat"/>
        </div>
    </div>
{% endblock %}