{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="account-box row">
        <div class="account-box-content col">
            {{ render_form(
                form,
                form_type='basic',
                button_style='success')
            }}
        </div>
        <div class="picture_account col">
            <img style="height: 392px;" src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000" class="imgFormat"/>
        </div>
    </div>
{% endblock %}