{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
  <h1>{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="account-box row">
        <div class="account-box-content col">
            <div class="account-box-content col">
                {{ render_form(form, button_style='success') }}
            </div>
        </div>
        <div class="picture_account col">
            <img style="height: 390px;" src="https://scribie.com/assets/front/illustrations/Welcome-to-scribie-512x391.svg" class="imgFormat"/>
        </div>
    </div>
{% endblock %}