{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<br>
<div class="account-box row">
  <div class="picture_account col">
        <img height="300px" class="imgFormat" src="https://img.freepik.com/free-icon/search_318-714096.jpg?w=2000">
  </div>
  <div class="account-box-content col">
    <br><br><br>
    <div style="text-align: center;font-family: Roboto Slab;">
      <h1 style="font-size: 80px;">Page Not Found</h1>
      <p>
        What are you looking for is just not here.
      </p>
    </div>
  </div>
</div>
{% endblock %}