{% extends 'base.html' %}

{% block title %}Oops... That's out fault, sorry :({% endblock %}

{% block content %}
<br>
<div class="account-box row">
  <div class="picture_account col">
        <img height="300px" class="imgFormat" src="https://img.freepik.com/premium-vector/flat-illustration-500-internal-server-error-concept-can-t-connect-server-internet_258153-329.jpg?w=2000">
  </div>
  <div class="account-box-content col">
    <br><br><br>
    <div style="text-align: center;font-family: Roboto Slab;">
      <h1 style="font-size: 80px;">Page Not Found</h1>
      <p>
        Go somewhere else while we are solving the problem
      </p>
    </div>
  </div>
</div>
{% endblock %}